<div class="foot">
	<div class="wrap">
		<div class="link">
			<ul class="left">
				<li><a href="javascript:;">电子礼品卡</a></li>
				<li><a href="javascript:;">附近商店</a></li>
				<li><a href="javascript:;">订阅电子邮件</a></li>
				<li><a href="javascript:;">注册商店</a></li>
				<li><a href="javascript:;">网站反馈</a></li>
			</ul>
			<ul class="center">
				<li><a href="javascript:;">电子礼品卡</a></li>
				<li><a href="javascript:;">附近商店</a></li>
				<li><a href="javascript:;">订阅电子邮件</a></li>
				<li><a href="javascript:;">注册商店</a></li>
				<li><a href="javascript:;">网站反馈</a></li>
			</ul>
			<ul class="right">
				<li><a href="javascript:;">电子礼品卡</a></li>
				<li><a href="javascript:;">附近商店</a></li>
				<li><a href="javascript:;">订阅电子邮件</a></li>
				<li><a href="javascript:;">注册商店</a></li>
				<li><a href="javascript:;">网站反馈</a></li>
			</ul>
		</div>

		<div class="bottom">
			<ul class="bleft">
				<li><a href="javascript:;"><img src="/static/images/zg.png"/></a></li>
				<li><a href="">中国大陆</a></li>
				<li><a href="">2018 NIKE .INC 保留所有权利</a></li>
			</ul>
			<ul class="bright">
				<li><a href="javascript:;">分类浏览</a></li>
				<li><a href="">使用条款</a></li>
				<li><a href="">销售条款</a></li>
				<li><a href="javascript:;">隐私政策</a></li>
				<li><a href="javascript:;">沪ICP备14009339号</a></li>
				<li><a href="javascript:;">上海工商</a></li>
				<li><a href="javascript:;">沪公网安备310023443984号</a></li>
			</ul>
		</div>
	</div>
</div>