
<div class="inner">
	<div class="top">
		<ul class="tleft">
			<li><a href="javascript:;">Nilus</a></li>
			<li><a href="javascript:;">converse</a></li>
			
		</ul>
		
		<ul class="tright">
			<li id="user">
				<a href="/html/register.html">加入/</a>
				<a href="/html/login.html">登录</a>
				<a href="javascript:;" id="out"></a>
			</li>
			<li><a href="javascript:;">帮助</a></li>
			<li><a href="javascript:;"><span class="iconfont icon-xiaoxi"></span></a></li>
			<li><a href="/html/cart.html"><span class="iconfont icon-gouwuche" id=""></a></li>
			<li><a href="javascript:;"><img src="/static/images/zg.png"/></a></li>
		</ul>
	</div>
	
	<div class="bottom">
		<div class="bottom-wrap">
			<div class="logo">
				<a href="/index.html"><img src="/static/images/logo.png"/></a>
			</div>
			<!-- <nav> -->
				<ul>
					<li id="ho1"><a href="/html/man.html">男子</a></li>
					<li id="ho2"><a href="/html/man.html">女子</a></li>
					<li><a href="/html/man.html">男孩</a></li>
					<li><a href="/html/man.html">女孩</a></li>
					<li><a href="/html/man.html">专属定制</a></li>
					<li><a href="/html/man.html">流行潮品</a></li>
				</ul>
				<div class="search">
					<input type="text" placeholder="搜索" />
				</div>
			<!-- </nav> -->
		</div>
	</div>


		<!-- care -->
	<div class="second">
		<div class="bottom-r">
				<dl>
					<dt>耐克男子鞋类</dt>
						<dd>所有男子鞋类</dd>
						<dd>男子跑步鞋类</dd>
						<dd>男子休闲鞋类</dd>	
				</dl>
				<dl>
					
					<dt>所有男子服装</dt>
						<dd>退换货说明</dd>
						<dd>服务承诺</dd>
				</dl>
				<dl>
					
					<dt>耐克女子鞋类</dt>
						<dd>所有女子鞋类</dd>
						<dd>女子跑步鞋类</dd>
						<dd>女子休闲鞋类</dd>
				</dl>
				<dl>
					
					<dt>会员服务</dt>
						<dd>级别和特权</dd>
						<dd>积分政策</dd>
				</dl>
		</div>

	</div>

	</div>
</div>